__pycache__/
*.py[cod]
*$py.class
*.so
celerybeat-schedule
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
docs/pydoc/temp/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
instance/
.webassets-cache
pip-log.txt
pip-delete-this-directory.txt
profile_default/
ipython_config.py
.ipynb_checkpoints
.git/
**test/tests/
PKG-INFO/
setup.cfg
node_modules/
.parcel-cache
/site
.mypy_cache/
.dmypy.json
dmypy.json
#Pipfile.locktarget/
.idea/
.python-version
__pypackages__/
*.manifest
*.spec
.pyre/
.ropeproject
*.sage.py
.scrapy
.spyderproject
.spyproject
*.mo
*.pot
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.vscode
